<mat-toolbar color="primary">
  <span>ระบบลางาน</span>
</mat-toolbar>

<div class="container">
  <mat-tab-group>
    <!-- แดชบอร์ด -->
    <mat-tab label="แดชบอร์ด">
      <app-dashboard></app-dashboard>
    </mat-tab>

    <!-- ขอลา -->
    <mat-tab label="ขอลางาน">
      <app-leave-request></app-leave-request>
    </mat-tab>

    <!-- ประวัติ -->
    <mat-tab label="ประวัติการลา">
      <app-leave-history></app-leave-history>
    </mat-tab>

    <!-- อนุมัติ-->
    <mat-tab label="อนุมัติการลา">
      <app-leave-approval></app-leave-approval>
    </mat-tab>
  </mat-tab-group>
</div>
