<!-- <mat-card class="leave-history">
  <mat-card-header>
    <mat-card-title>Leave History</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]="leaveHistory">
      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef>User Name</mat-header-cell>
        <mat-cell *matCellDef="let leave">{{ leave.userName }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="leaveType">
        <mat-header-cell *matHeaderCellDef>Leave Type</mat-header-cell>
        <mat-cell *matCellDef="let leave">{{ leave.leaveType }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let leave">{{ leave.status }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="details">
        <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
        <mat-cell *matCellDef="let leave"><button mat-button>View</button></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>



    <div class="calendar-view">
      <h3>Leave Calendar</h3>
      <div class="calendar-container">
        <mat-calendar
        [dateClass]="dateClass"
        #picker
        panelClass="endDate"
          [dateClass]="dateClass"></mat-calendar>
      </div>
      <div *ngIf="dates" class="leave-details">
      </div>
    </div>



  </mat-card-content>
</mat-card> -->
