<mat-card>
  <mat-card-header>
    <mat-card-title>
      <strong>สถิติการลาประจำเดือน</strong>
    </mat-card-title>
    <mat-card-subtitle>ข้อมูลการลาของพนักงานทั้งหมด</mat-card-subtitle>

    <div style="flex-grow: 1;"></div>
    <button mat-raised-button color="primary" (click)="exportToExcel()">
      Export to Excel
    </button>
  </mat-card-header>

  <mat-card-content>
    <div class="filter-container">
      <mat-form-field appearance="fill">
        <mat-label>เดือน/ปี</mat-label>
        <input matInput [matDatepicker]="monthPicker" [(ngModel)]="selectedMonthYear" readonly />
        <mat-datepicker-toggle matSuffix [for]="monthPicker"></mat-datepicker-toggle>
        <mat-datepicker #monthPicker startView="multi-year"
          (yearSelected)="chosenYearHandler($event)"
          (monthSelected)="chosenMonthHandler($event, monthPicker)">
        </mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>แผนก</mat-label>
        <mat-select [(ngModel)]="selectedDepartment" (selectionChange)="filterData()">
          <mat-option *ngFor="let dept of departments" [value]="dept">{{ dept }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="chart-container">
      <ngx-charts-bar-vertical
        [view]="[1500, 300]"
        [results]="leaveStatsData"
        [scheme]="colorScheme"
        [xAxis]="true"
        [yAxis]="true"
        [legend]="true"
        [showDataLabel]="true"
        [animations]="true">
      </ngx-charts-bar-vertical>
    </div>

    <mat-table [dataSource]="filteredLeaveData">
      <ng-container matColumnDef="userName">
        <mat-header-cell *matHeaderCellDef>ชื่อ</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.user.username }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="department">
        <mat-header-cell *matHeaderCellDef>แผนก</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.user.department }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="sickLeave">
        <mat-header-cell *matHeaderCellDef>ลาป่วย</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.sickLeave }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="vacationLeave">
        <mat-header-cell *matHeaderCellDef>ลาพักร้อน</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.vacationLeave }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="emergencyLeave">
        <mat-header-cell *matHeaderCellDef>ลากิจ</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.emergencyLeave }}</mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="totalDaysOff">
        <mat-header-cell *matHeaderCellDef>รวม</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.totalDaysOff }}</mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" style="cursor: pointer;"></mat-row>
    </mat-table>

    <mat-paginator [length]="totalItems" [pageSize]="pageSize"></mat-paginator>
  </mat-card-content>
</mat-card>
