.title {
  font-weight: bold;
  font-size: 20px;
}

.export-btn {
  float: right;
  background-color: blue;
  color: white;
}

.filter-container {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statistics-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}
.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
/* CSS to hide days and show only months and years in the Datepicker */
.month-picker .mat-calendar-body-cell-content {
  display: none; /* Hides the days */
}

.month-picker .mat-calendar-header {
  display: none; /* Hides the day name header */
}

.month-picker .mat-calendar-month-view {
  display: block; /* Ensures month view is displayed */
}

.month-picker .mat-calendar-year-view {
  display: block; /* Ensures year view is displayed */
}
