<mat-card class="dashboard-card">
  <mat-card-header>

  </mat-card-header>
  <mat-card-content>
    <div class="stats-container">
      <div class="stat">
        <mat-icon style="-webkit-text-fill-color:rgb(0, 140, 255)">access_time</mat-icon>
        <div class="text-container">
          <p>ยอดวันลาคงเหลือ</p>
          <h3>{{ leaveBalance }} วัน</h3>
        </div>
      </div>
      <div class="stat">
        <mat-icon style="-webkit-text-fill-color:rgb(0, 201, 27)">calendar_today</mat-icon>
        <div class="text-container">
          <p>คำขอลาหยุดที่รอดำเนินการ</p>
          <h3>{{ pendingLeaves }} รายการ</h3>
        </div>
      </div>
      <div class="stat">
        <mat-icon style="-webkit-text-fill-color:rgb(140, 0, 255)">description</mat-icon>
        <div class="text-container">
          <p>ลาทั้งหมดปีนี้</p>
          <h3>{{ usedLeaveThisYear }} วัน</h3>
        </div>
      </div>
    </div>

    <div class="recent-leaves">

      <div class="leave-list">
        <h3>คำขอลาหยุดล่าสุด</h3>
        <div class="leave-header">
          <span class="leave-header-item">ชื่อผู้ใช้</span>
          <span class="leave-header-item">ประเภทการลา</span>
          <span class="leave-header-item">จำนวนวัน</span>
          <span class="leave-header-item">สถานะ</span>
        </div>

        <div *ngFor="let leave of recentLeaves" class="leave-row">
          <span class="leave-item">{{ leave.user.username }}</span>
          <span class="leave-item">{{ leave.leaveType.name }}</span>
          <span class="leave-item">{{ leave.leaveDays }} วัน</span>
          <div
            [ngClass]="{
              'approved': leave.status === 'อนุมัติแล้ว',
              'pending': leave.status === 'รออนุมัติ',
              'rejected': leave.status === 'ถูกปฏิเสธ'
            }"
            class="status-box">
            {{ leave.status }}
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
